 /*  div{
    border: 1px solid black;
}   */
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.outerDiv{
  height:100vh;
  width:100vw;
  background-color: #e0e5ec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logindiv{
    height: 350px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e5ec;
    box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
}

.headLogin{
    font-size: 35;
    margin-left: 105px;
    margin-bottom: 30px;
}

.textboxUser{
    width:210px;
    height:40px;
    margin:0px 50px 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    background-color: #e0e5ec;
    box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
    border: 0px;;
}

.textboxUser img{
    height:28px;
    width: 28px;
    margin: -6px 10px 0px 0px;
}

.textboxUser input {
  height: 28px;
  width: 170px;
  border: 0px;
  margin-left: 14px;
  background-color: #e0e5ec;
}

.textboxUser input:focus {
  outline: none;
  border: none;
}


.submitButton {
  width: 80px;
  height: 40px;
  margin: 0px 50px 20px 110px;
  border-radius: 20px;
  border: 0px;
  background-color: #e0e5ec;
  box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
}





